@import './variables'
body,html, .idDiv
    height: 100%

.calc-h
    height: calc(100vh - 58px)!important
.ant-menu-horizontal
    border-bottom: none!important
.ant-menu-horizontal > .ant-menu-item-selected
    border-bottom: 2px solid $warning-color!important

.Section
    padding: 40px 20px 20px 10px
.Link
    color: #1890ff!important
    cursor: pointer
.Link:hover
    color: darken(#1890ff,10%)!important
    