@import './variables'
body,html, .idDiv
    height: 100%

.calc-h
    height: calc(100vh - 58px)!important
.ant-menu-horizontal
    border-bottom: none!important
.ant-menu-horizontal > .ant-menu-item-selected
    border-bottom: 2px solid $warning-color!important

.Section
    padding: 20px!important
.Link
    color: #1890ff!important
    cursor: pointer
.Link:hover
    color: darken(#1890ff,10%)!important

.ant-menu-dark, .ant-menu-dark .ant-menu-sub
    background: #711411!important
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected
    background-color: #00000057!important

.ant-menu-dark .ant-menu-item:hover
    background-color: #00000057!important